<!doctype html>
<html ng-app='meuBar'>
	<head>
		<link rel="shortcut icon" type="image/gif" href="img/beer.ico.gif"/>
		<link rel="shortcut icon" type="image/gif" href="img/beer.ico.gif"/>
		<meta charset="UTF-8">

		<title>Hello AngularJS</title>
		
		<link rel="stylesheet" type="text/css" href="lib/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/index.css">

    	<script src="/meubar/lib/bower/angular/angular.js"></script>
	    <script src="/meubar/lib/bower/angular-resource/angular-resource.js"></script>
	    <script src="/meubar/lib/bower/angular-cookies/angular-cookies.js"></script>
    	<script src="lib/md5.js"></script>
    	<script src="js/index.js"></script>

	</head>

	<body ng-controller="AppCtrl">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="center-block">
						<img src="img/beer-icon.png" class="center-block img-responsive-login img-rounded img-rounded-login">
					</div>
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
	                        <h3 class="panel-title">Por favor, faça login</h3>
	                    </div>
	                    <div class="panel-body">
						    <form role="form" name="loginForm" ng-submit="access()" ng-class="{submitted:submitted}" novalidate>
						    	<fieldset>
									<div class="form-group" ng-class="{'has-error': error }">
								        <input type="text"
							               class="form-control"
							               name="user"
							               id="user"
							               ng-model="user"
							               placeholder="Username"
							               required />
							        </div>

									<div class="form-group" ng-class="{'has-error': error }">
										<input type="password"
									       class="form-control"
									       name="pass"
									       id="pass"
									       ng-model="pass"
									       placeholder="Password"
									       required />
										<p class="danger" ng-show="error">{{error}}</p>
									</div>
									<div class="form-group">
										<button type="submit"
										    class="btn btn-lg btn-success btn-block"
										    value="Login" title="Login">Login</button>
									</div>
								</fieldset>
							</form>
	                    </div>
                    </div>
                </div>
			</div>
		</div>
	</body>
</html>