<section data-ng-init="findOne()">
	<div class="col-md-4">
		<form name="moduleForm" class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
			
				<div class="form-group" is-disabled="true">
					<label class="control-label" for="id">Id</label>
					<div class="controls">
						<input name="id" type="text" data-ng-model="item.id" id="id" class="form-control" ng-required="true" disabled="true" >
					</div>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': moduleForm.grupoId.$error.required }">
					<label class="control-label" for="grupoId">Grupo</label>
					<div class="controls">
						<select data-ng-model="item.grupoId" name="grupoId" id="grupoId" class="form-control" ng-options="grupo.id as grupo.nome for grupo in grupos | orderBy:'nome'" required></select>
					</div>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': moduleForm.nome.$error.required || moduleForm.nome.$error.minlength || moduleForm.nome.$error.maxlength}">
					<label class="control-label" for="nome">Nome</label>
					<div class="controls">
						<input name="nome" type="text" data-ng-model="item.nome" id="nome" class="form-control" required ng-minlength="5" ng-maxlength="255" >
					</div>
					<p ng-show="moduleForm.nome.$error.minlength" class="help-block">O nome do usu&aacute;rio &eacute; muito curto.</p>
					<p ng-show="moduleForm.nome.$error.maxlength" class="help-block">O nome do usu&aacute;rio &eacute; muito longo.</p>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': moduleForm.cpf.$error.pattern || moduleForm.cpf.$error.required }">
					<label class="control-label" for="cpf">CPF</label>
					<div class="controls">
						<input name="cpf" type="text" data-ng-model="item.cpf" id="cpf" class="form-control" maxlength="11" required  ng-pattern="/^[0-9]{11}$/i">
					</div>
					<p ng-show="moduleForm.cpf.$error.pattern" class="help-block">O CPF &eacute; composto de 11 digitos.</p>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': moduleForm.login.$error.pattern || moduleForm.login.$error.required || moduleForm.login.$error.minlength || moduleForm.login.$error.maxlength}">
					<label class="control-label" for="login">Login</label>
					<div class="controls">
						<input name="login" type="text" data-ng-model="item.login" id="login" class="form-control" maxlength="20" required ng-minlength="5" ng-maxlength="20" ng-pattern="/^[0-9A-Za-z]*$/i">
					</div>
					<p ng-show="moduleForm.login.$error.minlength" class="help-block">O login do usu&aacute;rio &eacute; muito curto.</p>
					<p ng-show="moduleForm.login.$error.maxlength" class="help-block">O login do usu&aacute;rio &eacute; muito longo.</p>
					<p ng-show="moduleForm.login.$error.pattern" class="help-block">O login do usu&aacute;rio deve ser composto de letras e n&uacute;meros.</p>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': moduleForm.senha.$error.minlength}">
					<label class="control-label" for="senha">Senha</label>
					<div class="controls">
						<input name="senha" type="password" data-ng-model="item.senha" id="senha" class="form-control" ng-minlength="5" >
					</div>
					<p ng-show="moduleForm.senha.$error.minlength" class="help-block">A senha do usu&aacute;rio &eacute; muito curta.</p>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': moduleForm.telefone.$error.pattern }">
					<label class="control-label" for="telefone">Telefone</label>
					<div class="controls">
						<input name="telefone" type="text" data-ng-model="item.telefone" id="telefone" class="form-control" maxlength="15" ng-pattern="/^(\+?)[0-9]*$/i">
					</div>
					<p ng-show="moduleForm.telefone.$error.pattern" class="help-block">O telefone pode come&ccedil;ar com caracter "+", seguido de n&uacute;meros.</p>
				</div>
				
				<div class="form-group">
					<strong ng-show="moduleForm.grupoId.$error.required || moduleForm.nome.$error.required || moduleForm.cpf.$error.required || moduleForm.login.$error.required" ng-class="{ 'text-danger': moduleForm.grupoId.$error.required || moduleForm.nome.$error.required || moduleForm.cpf.$error.required || moduleForm.login.$error.required }">
						Preencha os campos obrigat&oacute;rios.
					</strong>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" ng-disabled="moduleForm.$invalid">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error">{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>