<section data-ng-init="find()">

    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Nome</td>
                <td>Grupo</td>
                <td>Ultima modifica&ccedil;&atilde;o</td>
                <td>Respons&aacute;vel</td>
                <td>A&ccedil;&atilde;s</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itens">
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.grupo}}</td>
                <td>{{item.dataModificacao}}</td>
                <td>{{item.usuarioModificacao}}</td>
                <td>
                    <a data-ng-href="#!/{{moduleName}}/view/{{item.id}}"><i class='fa fa-fw fa-folder-open-o'></i></a>
                    <a data-ng-href="#!/{{moduleName}}/edit/{{item.id}}"><i class='fa fa-fw fa-edit'></i></a>
                    <a data-ng-href="#!/{{moduleName}}/list" ng-click="remove(item.id)"><i class='fa fa-fw fa-trash-o'></i></a>
                </td>
            </tr>   
        </tbody>
    </table>
</section>