<section>
	<div class="col-md-4">
		<form name="moduleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>

				<div class="form-group" ng-class="{ 'has-error': moduleForm.nome.$error.required || moduleForm.nome.$error.minlength || moduleForm.nome.$error.maxlength}">
					<label class="control-label" for="nome">Nome</label>
					<div class="controls">
						<input name="nome" type="text" data-ng-model="nome" id="nome" class="form-control" required ng-minlength="3" ng-maxlength="255" >
					</div>
					<p ng-show="moduleForm.nome.$error.minlength" class="help-block">O nome do produto &eacute; muito curto.</p>
					<p ng-show="moduleForm.nome.$error.maxlength" class="help-block">O nome do produto &eacute; muito longo.</p>
				</div>
					
				<div class="form-group" ng-class="{ 'has-error': moduleForm.categoriaId.$error.required }">
					<label class="control-label" for="categoriaId">Categoria</label>
					<div class="controls">
						<select data-ng-model="categoriaId" name="categoriaId" id="categoriaId" class="form-control" ng-options="categoria.id as categoria.nome for categoria in categorias|orderBy:'nome'" required></select>
					</div>
				</div>
				
				<div class="form-group" ng-class="{ 'has-error': moduleForm.unidadeId.$error.required }">
					<label class="control-label" for="unidadeId">Unidade</label>
					<div class="controls">
						<select data-ng-model="unidadeId" name="unidadeId" id="unidadeId" class="form-control" ng-options="unidade.id as unidade.nome for unidade in unidades|orderBy:'nome'" required></select>
					</div>
				</div>
				
				<div class="form-group">
					<strong ng-show="moduleForm.nome.$error.required || moduleForm.categoriaId.$error.required || moduleForm.unidadeId.$error.required" ng-class="{ 'text-danger': moduleForm.nome.$error.required || moduleForm.categoriaId.$error.required || moduleForm.unidadeId.$error.required}">
						Preencha os campos obrigat&oacute;rios.
					</strong>
				</div>
				
				<div class="form-group">
					<input type="submit" class="btn btn-default" ng-disabled="moduleForm.$invalid">
				</div>
				
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error">{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>