<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
 	<display-name>MeuBar</display-name>
    <description>
        Sistema de administração de bares e restaurantes
    </description>
    <welcome-file-list>
	   <welcome-file>index.html</welcome-file>
	   <welcome-file>index.htm</welcome-file>
	   <welcome-file>index.jsp</welcome-file>
	   <welcome-file>default.html</welcome-file>
	   <welcome-file>default.htm</welcome-file>
	   <welcome-file>default.jsp</welcome-file>
	 </welcome-file-list>
    
	<servlet-mapping>
	      <servlet-name>javax.ws.rs.core.Application</servlet-name>
	      <url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	      <servlet-name>default</servlet-name>
	      <url-pattern>*.html</url-pattern>
	      <url-pattern>*.css</url-pattern>
	      <url-pattern>*.otf</url-pattern>
	      <url-pattern>*.eot</url-pattern>
	      <url-pattern>*.svg</url-pattern>
	      <url-pattern>*.ttf</url-pattern>
	      <url-pattern>*.woff</url-pattern>
	      <url-pattern>*.less</url-pattern>
	      <url-pattern>*.scss</url-pattern>
	      <url-pattern>*.js</url-pattern>
	      <url-pattern>*.ico</url-pattern>
	      <url-pattern>*.jpg</url-pattern>
	      <url-pattern>*.gif</url-pattern>
	      <url-pattern>*.png</url-pattern>
	      <url-pattern>*.txt</url-pattern>
	</servlet-mapping>	
	
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>otf</extension>
		<mime-type>font/otf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>font/ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>less</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>scss</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>

</web-app>